@import "tailwindcss";

@theme {
  --color-sapphire: #0f172a;
  --color-sapphire-light: #1e3a8a;
  --color-accent: #60a5fa;
}

body {
  background: radial-gradient(circle at top right, #1e3a8a, #0f172a);
  color: white;
  min-height: 100vh;
}